@media (max-width: 780px){
    .contactos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 761px) {

    .toggle-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .navbar .list-nav {
        display: none;
        z-index: 2;
    }
    .opennav{
        display: flex;
        z-index: 2;
        justify-content: center;
        align-items: center;
    }
    .navbar ul{
        z-index: 3;
        background-color: #f0fbff ;
        margin-top: 500px;
        flex-direction: column;
        gap: 50px;
        height: 400px;
        width: 400px;
        position: absolute;
        border-radius: 0px 0px 20px 20px;
    }



}


@media (max-width: 412px){
    .opciones-menu{
        flex-wrap: wrap;
    }
    .mapa{
        width: 350px;
    }
}